{
  "ignore": ["node_modules/**"],
  "plugins": [
    [
      "module-resolver",
      {
        "root": [ "./" ],
        "alias": {
          "illustrations": "./imports/illustrations",
          "icons": "./imports/icons",
          "collections": "./imports/collections",
          "components": "./imports/components"
        }
      }
    ]
  ],
  "env": {
    "test": {
      "presets": ["react-app"],
      "plugins": [
        "transform-runtime"
      ]
    }
  }
}
