.good-form {
    display: flex;
    flex-direction: column;
    min-width: 50%;
    height: 100%;
    
    .good-form-title {
        font-size: 2rem;
        color: #7C8893;
    }

    .good-form-input {
        width: 80%;
    }

    .good-form-button {
        width: 30%;
        margin-top: 4%;

        .right-icon {
            margin-left: 22px;
        }
    }
}