.app {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: flex-start;

  .add-goods-form {
    width: 35vw;
    height: 50%;
    padding: 2vh 2vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .error {
      color: #e10050;
      text-align: center;
    }
  }

  .goods-data {
    display: flex;
    flex-direction: column;
    margin: 2vh 2vw;
    width: 65vw;
    height: 100%;

    .price {
      text-align: right;
      width: 15vw;
      padding-right: 5vw;
    }

    table {
      height: 100vh;

      thead {
        th {
          padding: 6vh 0 4vh 0;
          text-align: left;
          font-size: 1.5em;
        }
      }
    }
  }
}
