.login {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  .login-form {
    width: 20%;
    height: 22%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    input {
      width: 20vw;
    }

    .login-button {
      display: flex;
      text-align: center;
      color: #005EFF;
      border: none;
      text-decoration: none;
      cursor: pointer;
      background: none;
      outline: none;
    }
  }
}
