.modal-container {
    position: absolute;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    .modal {
        background-color: white;
        width: 70vw;
        height: 65vh;
        border-radius: 5px;
        padding: 50px;
        outline: none;
        display: flex;
        align-items: center;
    }
}