.navigation {
    width: 30%;
    height: 100%;
    padding: 0 3%;
    
    .links {
        display: flex;
        flex-direction: column;
        margin: 10% 0;

        .nav-link {
            text-decoration: none;
            color: #7B8893;
            font-size: 2rem;
            margin: 3% 0;
            fill: #7B8893;
            stroke: #7B8893;

            &:hover {
                color: #7396FD;
                fill: #7396FD !important;
                stroke: #7396FD !important;
            }
        }
    }
}